img{
  width: 400px;
  height: 300px;
  border: 10px solid black;
  float: left;
}

.intro{
  width: 400px;
}

.important{
  font-weight: bold;
  color: blue;
}

.super-important{
  font-weight:bold;
  color: red;
  font-style: italic;
}

.awesome{
  color: green;
  font-weight: bold;
  font-stretch: extra-expanded;
}

.not-awesome{
  color: brown;
  font-weight: bold;
}
